body{
    background:url(bg.jpg);
}

.table {
    position:  ;
    font-family: sans-serif;
    color: rgb(228, 74, 74);
    border-collapse: collapse;
    width: 50%;
    border: 1px solid #f2f5f7;
}
 
.table tr th{
    background: rgb(255, 196, 168);
    color: #fff;
    font-weight: normal;
}
 
.table, th, td {
    padding: 8px 20px;
    text-align: center;
}
 
.table tr:hover {
    background-color: #f5a6a6;
}
 
.table tr:nth-child(even) {
    background-color: #f3c9c9;
}